body {
    font-family: sans-serif;
}

header {
    background-color: #F5A9B8;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    padding: 4px;
}

#header-col1 {
    grid-column: 1;
    align-content: center;
}

#header-col2 {
    grid-column: 2;
    align-content: center;
}

#header-col3 {
    grid-column: 3;
    align-content: center;
}
