div#wrapper {
    display: grid;
    grid-template-columns: 5fr 1fr;
    height: 100vh;
}

nav {
    padding: 10px;
    margin-bottom: 3px;
    margin-top: 3px;
    display: grid;
    grid-template-columns: 1fr, 1fr;
    background-color: #5BCEFA;
}

nav h2 {
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
}

nav div {
    display: flex;
    flex-direction: column;
    text-align: center;
}

nav div>a {
    display: inline-block;
    margin: 3px;
}

div#toys {
    grid-column: 1/2;
}

div#blog-posts {
    grid-column: 2/2;
}

div#banners {
    display: flex;
    flex-wrap: wrap;
}

div#banners img {
    width: 30%;
    height: auto;
    margin: 0px 6px;
}

input#hide-banners:checked~div#banners {
    display: none;
}

@media (prefers-reduced-motion) {
    div#banners {
        display: none;
    }
}

@media (max-aspect-ratio: 1/1) {
    div#wrapper {
        display: flex;
        flex-direction: column-reverse;
        height: auto;
    }

    nav h2 {
        margin-top: 4px;
        margin-bottom: 4px;
    }

    nav {
        font-size: 1.2rem;
    }
}