#header-col3 {
    text-align: right;
}

h2.centre {
    margin: 0px auto;
}

div {
    clear: both;
}

img {
    max-height: 12rem;
    margin: 5px;
    float: left;
}

.images-with-captions {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}

.images-with-captions img {
    float: none;
}
