#header-col3 {
    text-align: right;
}

h2.centre {
    margin: 0px auto;
}

.text-centre {
    text-align: center;
}

div {
    clear: both;
}

img {
    max-height: 12rem;
    height: auto;
    width: auto;
    
    margin: 5px;
    float: left;
}

img.right {
    float: right;
}

figure {
    max-width: 22rem;
}

.images-with-captions {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}

.images-with-captions img {
    float: none;
}

@media (max-aspect-ratio: 1/1) {
    img {
        max-height: 20rem;
    }
    figure {
        max-width: 36rem;
    }
}
